@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: var(--main);
  color: #350203;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --main: #fbf5f3;
    --texty: #350203;
    --card: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 3.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.magneto_txt {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.mobile_nav {
  background: rgba(53, 2, 3, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@keyframes rota {
  to {
    transform: rotate(180deg);
  }

  from {
    transform: rotate(0deg);
  }
}

.cert {
  animation: rota 2s infinite linear;
}

.blurry {
  background: rgba(248, 214, 182, 0.169);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hero_image {
  border-radius: 0px 200px 0px 0px;
}

.hero_image_2 {
  border-radius: 0px 0px 0px 200px;
}

@keyframes jumpy {
  0% {
    top: 400px;
    left: 0px;
  }

  50% {
    top: 350px;
    left: 50px;
  }

  100% {
    top: 400px;
    left: 0px;
  }
}

@keyframes jumpy2 {
  0% {
    top: 0px;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 0px;
  }
}

.circle {
  border-radius: 100%;
  animation: jumpy 2s infinite linear;
}

.circle2 {
  border-radius: 100%;
  animation: jumpy2 4s infinite ease-in-out;
}

.login_head {
  width: 100%;
  background: url(/img/login.jpg),
    linear-gradient(to right, #393929, #000000c0) center no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

/*  */
.download {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(248%2c 214%2c 182%2c 1)'%3e%3c/rect%3e%3cpath d='M723.13 577.46C885.08 532.29 935.06 85.21 1175.88 80.15 1416.71 75.09 1507.94 245.47 1628.64 248.15' stroke='rgba(53%2c 2%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M734.37 588.18C831.88 552.36 792.72 261.24 989.24 259.98 1185.77 258.72 1366.46 404.16 1498.99 405.58' stroke='rgba(53%2c 2%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M650.89 622.74C806.86 601.96 868.77 258.06 1151.97 241.91 1435.17 225.76 1522.21 92.34 1653.05 90.71' stroke='rgba(53%2c 2%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M396.09 668.85C573.27 636.55 656.72 195.13 936.63 192.59 1216.54 190.05 1334.38 374.86 1477.17 377.39' stroke='rgba(53%2c 2%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M705.13 642.85C846.29 632.95 914.11 379.04 1195.43 360.03 1476.76 341.02 1545.57 94.75 1685.74 85.63' stroke='rgba(53%2c 2%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.courses {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(53%2c 2%2c 3%2c 1)'%3e%3c/rect%3e%3cpath d='M1472.62 415.85C1276.53 413.3 1030.05 197.28 722.54 186.25 415.03 175.22 462.16-69.7 347.5-83.18' stroke='rgba(248%2c 214%2c 182%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1715.94 352.44C1577.05 353.02 1458.39 469.1 1171.8 464.44 885.2 459.78 805.1 23.08 627.65-8.36' stroke='rgba(248%2c 214%2c 182%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1448.86 350.67C1284.16 347.52 1152.56 136.64 827.19 132.27 501.83 127.9 366.43-32.92 205.53-34.36' stroke='rgba(248%2c 214%2c 182%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1495.58 120.46C1307.35 124.42 1144.24 378.36 787.9 378.06 431.56 377.76 286.1-31.91 80.22-47.92' stroke='rgba(248%2c 214%2c 182%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1658.88 407.32C1517.8 398.9 1430.89 146.75 1161.53 138.52 892.17 130.29 793.8-6.53 664.18-8.05' stroke='rgba(248%2c 214%2c 182%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
